<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.daff.uacs.service.mapper.HierarchyMapper">
  <resultMap id="BaseResultMap" type="io.daff.uacs.service.entity.po.Hierarchy">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="domain_id" jdbcType="CHAR" property="domainId" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="baseSelectFields">
    `id`, `name`, `desc`, `seq`, `parent_id`, `deleted`, `domain_id`, `create_at`, `update_at`, `create_by`, `update_by`, `detail`
  </sql>
  <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
    insert into hierarchy(
	  <trim suffixOverrides=",">
			<if test="collection[0].id != null">`id`,</if>
			<if test="collection[0].name != null">`name`,</if>
			<if test="collection[0].desc != null">`desc`,</if>
			<if test="collection[0].seq != null">`seq`,</if>
			<if test="collection[0].parentId != null">`parent_id`,</if>
			<if test="collection[0].deleted != null">`deleted`,</if>
			<if test="collection[0].domainId != null">`domain_id`,</if>
			<if test="collection[0].createAt != null">`create_at`,</if>
			<if test="collection[0].updateAt != null">`update_at`,</if>
			<if test="collection[0].createBy != null">`create_by`,</if>
			<if test="collection[0].updateBy != null">`update_by`,</if>
			<if test="collection[0].detail != null">`detail`,</if>
	  </trim>
		)
		values
		<foreach collection="list" item="item" separator=",">
		(
		<trim suffixOverrides=",">
			<if test="item.id != null">#{item.id},</if>
			<if test="item.name != null">#{item.name},</if>
			<if test="item.desc != null">#{item.desc},</if>
			<if test="item.seq != null">#{item.seq},</if>
			<if test="item.parentId != null">#{item.parentId},</if>
			<if test="item.deleted != null">#{item.deleted},</if>
			<if test="item.domainId != null">#{item.domainId},</if>
			<if test="item.createAt != null">#{item.createAt},</if>
			<if test="item.updateAt != null">#{item.updateAt},</if>
			<if test="item.createBy != null">#{item.createBy},</if>
			<if test="item.updateBy != null">#{item.updateBy},</if>
			<if test="item.detail != null">#{item.detail},</if>
		</trim>
		)
		</foreach>
  </insert>
  <delete id="deleteByIds">
    delete from hierarchy
	  where `id`
	  <foreach collection="collection" item="item" open="in (" close=")" separator=",">
		#{item}
	  </foreach>
  </delete>
  <select id="select" resultMap="BaseResultMap">
    select <include refid="baseSelectFields"/>
	  from hierarchy
	  <where>
	    <trim suffixOverrides=",">
				<if test="name != null and name != ''">`name` = #{name}</if>
				<if test="desc != null and desc != ''">`desc` = #{desc}</if>
				<if test="seq != null">`seq` = #{seq}</if>
				<if test="parentId != null">`parent_id` = #{parentId}</if>
				<if test="deleted != null">`deleted` = #{deleted}</if>
				<if test="domainId != null and domainId != ''">`domain_id` = #{domainId}</if>
				<if test="createAt != null">`create_at` = #{createAt}</if>
				<if test="updateAt != null">`update_at` = #{updateAt}</if>
				<if test="createBy != null">`create_by` = #{createBy}</if>
				<if test="updateBy != null">`update_by` = #{updateBy}</if>
	    </trim>
	  </where>
  </select>
  <select id="selectByIds" resultMap="BaseResultMap">
    select	<include refid="baseSelectFields"/>
		from hierarchy
		where `id`
		<foreach collection="collection" item="item" open="in (" close=")" separator=",">
			#{item}
		</foreach>
  </select>
  <update id="batchUpdate">
    <foreach collection="list" item="item" separator=",">
			update hierarchy
			set
			<trim suffixOverrides=",">
				<if test="collection[0].name != null">`name` = #{item.name},</if>
				<if test="collection[0].desc != null">`desc` = #{item.desc},</if>
				<if test="collection[0].seq != null">`seq` = #{item.seq},</if>
				<if test="collection[0].parentId != null">`parent_id` = #{item.parentId},</if>
				<if test="collection[0].deleted != null">`deleted` = #{item.deleted},</if>
				<if test="collection[0].domainId != null">`domain_id` = #{item.domainId},</if>
				<if test="collection[0].createAt != null">`create_at` = #{item.createAt},</if>
				<if test="collection[0].updateAt != null">`update_at` = #{item.updateAt},</if>
				<if test="collection[0].createBy != null">`create_by` = #{item.createBy},</if>
				<if test="collection[0].updateBy != null">`update_by` = #{item.updateBy},</if>
				<if test="collection[0].detail != null">`detail` = #{item.detail},</if>
			</trim>
			where `id` = #{item.id}
		</foreach>
  </update>
</mapper>